<footer
    class="container py-4 flex flex-col justify-center h-[30vh] text-secondary"
>
    <hr class="mx-6 w-1/2 opacity-25" />
    <div
        class="container flex flex-row justify-around items-center min-h-[50cqb]"
    >
        <div class="mx-3">
            <img
                class="rounded-full w-15 h-15"
                src="./assets/images/CatalanCookinglogoCompress.png?as=webp"
                type="image/webp"
                alt="Logo of the cooking contest "
            />
        </div>
        <div class="mx-3">
            <ul class="p-0 flex flex-wrap justify-between list-none">
                <li>
                    <a
                        class="font-bold text-secondary no-underline hover:text-link-hover-color"
                        href="/"
                        >Home</a
                    >
                </li>
                <li>
                    <a
                        class="font-bold text-secondary no-underline hover:text-link-hover-color"
                        href="#"
                        >Chefs</a
                    >
                </li>
                <li>
                    <a
                        class="font-bold text-secondary no-underline hover:text-link-hover-color"
                        href="#"
                        >About Sant Cugat</a
                    >
                </li>
                <li>
                    <a
                        class="font-bold text-secondary no-underline hover:text-link-hover-color"
                        href="#"
                        >Contact us</a
                    >
                </li>
            </ul>
        </div>
        <div class="mx-3">
            <a
                class="font-bold text-secondary no-underline"
                href="https://twitter.com/?lang=en"
                target="_blank"
                rel="noopener"
                title="Twitter"
            >
                <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a
                class="font-bold text-secondary no-underline"
                href="https://www.facebook.com/?locale=en_GB"
                target="_blank"
                rel="noopener"
                title="Facebook"
            >
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a
                class="font-bold text-secondary no-underline"
                href="https://www.instagram.com/"
                target="_blank"
                rel="noopener"
                title="Instagram"
            >
                <i class="fa-brands fa-instagram"></i>
            </a>
        </div>
    </div>
    <div
        class="container flex flex-row justify-between text-uoc-corporate bg-uoc-bg"
    >
        <div class="mx-3">
            <img
                class="w-5 h-full object-contain"
                src="./assets/images/logo.png"
                alt="Logo UOC"
            />
        </div>
        <div class="mx-3">
            <p class="font-bold text-xs leading-snug text-justify">
                This page has been created for the purpose of providing
                information on HTML and CSS Tools II, a subject within the UOC's
                Master's Degree in the Web App and Website Development.
            </p>
            <p class="font-bold text-xs leading-snug text-justify">
                &copy; May 2024 - José Antonio Mármol Romero
            </p>
        </div>
    </div>
</footer>
