<footer class="bg-bg-color-primary flex flex-col justify-center items-center">
    <hr class="w-1/2 mx-12 border-secondary" />
    <div class="flex flex-row w-full justify-between items-center">
        <div class="mx-auto">
            <img
                class="h-20 w-auto object-scale-down rounded-full"
                src="./assets/images/CatalanCookinglogoCompress.png?as=webp"
                type="image/webp"
                alt="Logo of the cooking contest "
            />
        </div>
        <div class="mx-12 my-10">
            <ul
                class="flex flex-row sm:flex-col gap-x-8 text-center justify-between list-none"
            >
                <li>
                    <a
                        class="font-bold text-secondary no-underline hover:text-link-hover-color"
                        href="/"
                        >Home</a
                    >
                </li>
                <li>
                    <a
                        class="font-bold text-secondary no-underline hover:text-link-hover-color"
                        href="/src/chefs.html"
                        >Chefs</a
                    >
                </li>
                <li>
                    <a
                        class="font-bold text-secondary no-underline hover:text-link-hover-color"
                        href="#"
                        >About Sant Cugat</a
                    >
                </li>
                <li>
                    <a
                        class="font-bold text-secondary no-underline hover:text-link-hover-color"
                        href="/src/contact.html"
                        >Contact us</a
                    >
                </li>
            </ul>
        </div>
        <div class="mx-auto">
            <a
                class="font-bold text-secondary no-underline"
                href="https://twitter.com/?lang=en"
                target="_blank"
                rel="noopener"
                title="Twitter"
            >
                <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a
                class="font-bold text-secondary no-underline"
                href="https://www.facebook.com/?locale=en_GB"
                target="_blank"
                rel="noopener"
                title="Facebook"
            >
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a
                class="font-bold text-secondary no-underline"
                href="https://www.instagram.com/"
                target="_blank"
                rel="noopener"
                title="Instagram"
            >
                <i class="fa-brands fa-instagram"></i>
            </a>
        </div>
    </div>
    <div
        class="flex flex-row w-full justify-around items-center px-5 py-5 bg-uoc-bg"
    >
        <div class="mx-auto">
            <img
                class="object-scale-down h-20 p-2"
                src="./assets/images/logo.png"
                alt="Logo UOC"
            />
        </div>
        <div class="mx-auto">
            <p class="text-xxs font-bold text-uoc-corporate">
                This page has been created for the purpose of providing
                information on HTML and CSS Tools II, a subject within the UOC's
                Master's Degree in the Web App and Website Development.
            </p>
            <p class="text-xxs font-bold text-uoc-corporate">
                &copy; May 2024 - José Antonio Mármol Romero
            </p>
        </div>
    </div>
</footer>
