<header class="bg-bg-color-primary">
    <nav class="px-10 sm:px-6">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-shrink-0 items-center">
                <a href="/">
                    <img
                        src="./assets/images/CatalanCookinglogoCompress.png?as=webp"
                        type="image/webp"
                        alt="Logo of the cooking contest "
                        class="rounded-full w-auto h-10"
                    />
                </a>
                <div class="absolute hidden py-10 right-0 items-end sm:block">
                    <button
                        id="menu-toggle"
                        type="button"
                        class="relative inline-flex items-center justify-center rounded-md p-2 text-secondary hover:bg-secondary hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-secondary"
                        aria-label="toggle menu"
                        aria-controls="mobile-menu"
                        aria-expanded="false"
                    >
                        <svg
                            viewBox="0 0 24 24"
                            class="block h-6 w-6 fill-current"
                            fill="none"
                            stroke-width="1.5"
                            stroke="currentColor"
                            aria-hidden="true"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
                            ></path>
                        </svg>
                    </button>
                </div>
                <div
                    id="menu"
                    class="flex space-x-4 justify-end ml-auto sm:hidden"
                >
                    <!-- <div class="flex flex-col md:flex-row md:mx-6"> -->
                    <a
                        href="/src/chefs.html"
                        class="text-secondary font-bold rounded-md px-3 py-2 text-sm"
                        data-target="chefs"
                        >Chefs</a
                    >
                    <a
                        href="#"
                        class="text-secondary font-bold rounded-md px-3 py-2 text-sm"
                        data-target="about"
                        >About Sant Cugat Culinary Contest</a
                    >
                    <a
                        href="/src/contact.html"
                        class="text-secondary font-bold rounded-md px-3 py-2 text-sm"
                        data-target="contact"
                        >Contact us</a
                    >
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </nav>
</header>
